#logintext{
    text-align: center;
    position: relative; top: 100px;
}

.bodyimages {
    text-align: center !important;
}

.modal-dialog{
    max-width: 100%;
}

.modal-content{
    height: 100%;
}

.material-icons{
    cursor: pointer;
}

#ravCard{
    position: relative;left: 500px;
}

#shawnsCard{
    position: relative;left: 500px;
}

#hyukCard{
    position: relative;left: 500px;
}