#logintext{
    text-align: center;
    position: relative; top: 100px;
}

#frontbody{
    background-size: cover;

}

#backbody{
    background-size: cover;

}

.modal-dialog{
    max-width: 100%;
}

.modal-content{
    height: 100%;
}

.material-icons{
    cursor: pointer;
}